<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<ul>
{%  for event in events %}
    <li>
      Nombre: {{ event.titulo }}, Precio: {{ precio.precio }}
    </li>
{% endfor %}
</ul>

</body>
</html>