{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inicio
{% endblock %}

{% block content %}
      <h3>Usuarios</h3>

          {% if users %}
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Email</th>
                      <th scope="col">Tipo de usuario</th>
                      <th scope="col">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
          {% for user in users %}
              <tr>
                  <th scope="row">{{ user.nombre }}</th>
                  <td>{{ user.email }}</td>
                  <td>
                      <select name="role" id="role{{ user.id }}">
                          {% for tipo in tipos %}
                              {% if tipo == user.role %}
                              <option value="{{ tipo }}" selected>{{ tipo }}</option>
                                {% else %}
                                    <option value="{{ tipo }}">{{ tipo }}</option>
                                {% endif %}
                          {% endfor %}
                      </select>
                  </td>
                  <td>
                      <div class="badge badge-secondary" onclick="updateRole({{ user.id }})"><i class="fa fa-save"></i></div>
                      <div class="badge badge-secondary" data-toggle="modal" data-target="#exampleModal" onclick="dataModal({{ user.id }})"><i class="fa fa-trash"></i></div>
                  </td>
              </tr>
          {% endfor %}
                  </tbody>
              </table>
          {% else %}
          <div class="alert alert-info">No hay mensajes</div>
          {% endif %}
        <div class="alert" id="alert"></div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">
                    <p>
                        ¿Seguro que quiere eliminar el usuario?
                    </p>
                    <input type="hidden" class="form-control" id="recipient-name">
                </div>
                <div class="modal-footer" id="modalButtons">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="deleteUser()">Borrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/app.js">
    </script>

{% endblock %}