{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inicio
{% endblock %}

{% block content %}
      <h3>Eventos</h3>

          {% if events %}
            <div class="card-deck">
          {% for event in events %}
              <div class="card mb-5" style="min-width: 250px;">
                  <a href="{{ path('showEventDetails', {'id': event.id}) }}">
                      <img class="card-img-top" src="/img/events/{{ event.imagen }}" alt="">
                  </a>
                  <div class="card-body">
                      <a class="nav-item text-dark" href="{{ path('showEventDetails', {'id': event.id}) }}">
                        <h5 class="card-title">{{ event.titulo }}</h5>
                      </a>
                      <p><li class="fa fa-map-marker"></li> {{ event.localizacion }}</p>
                      <p><li class="fa fa-globe"></li> {{ event.ciudad }}</p>
                      <p><li class="fa fa-ticket"></li> {{ event.categoria.categoria }}</p>
                      <p><li class="fa fa-calendar"></li> {{ event.fechaHoraEvento.format('d-m-Y') }}</p>
                      <p class="card-text">{{ event.descripcion }}</p>
                  </div>
                  <div class="card-footer">
                      <small class="text-muted">Precio: {{ event.precioEntrada }} €</small>
                  </div>
              </div>
          {% endfor %}
            </div>
          {% else %}
          <div class="alert alert-info">No hay ningún evento actualmente</div>
          {% endif %}
{% endblock %}