{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inicio
{% endblock %}

{% block content %}
      <h3>Eventos</h3>
      <div class="card-deck">
          <div class="card mb-5" style="min-width: 250px;">
              <img class="card-img-top" src="/img/events/{{ event.imagen }}" alt="">
              <div class="card-body">
                  <h5 class="card-title">{{ event.titulo }}</h5>
                  <p><li class="fa fa-map-marker"></li> {{ event.localizacion }}</p>
                  <p><li class="fa fa-globe"></li> {{ event.ciudad }}</p>
                  <p><li class="fa fa-ticket"></li> {{ event.categoria.categoria }}</p>
                  <p><li class="fa fa-calendar"></li> {{ event.fechaHoraEvento.format('d-m-Y') }}</p>
                  <p>Venta de entradas desde: {{ event.fechaInicioVenta.format('d-m-Y') }}</p>
                  <p>Venta de entradas hasta: {{ event.fechaFinVenta.format('d-m-Y') }}</p>
                  <p>Entradas totales: {{ event.numeroEntradas }}</p>
                  <p>Entradas disponibles: xxx</p>
                  <p>Web: {{ event.web }}</p>
                  <p>Usuario: {{ event.usuario.nombre }} <br> (<a href="{{ path('newMessageTo', {'id': event.usuario.id}) }}">Mandar mensaje</a>)</p>
                  <p class="card-text">{{ event.descripcion }}</p>
              </div>
              <div class="card-footer text-muted">
                  <p>
                  Precio entrada: <span id="precioEntrada">{{ event.precioEntrada }}</span>€
                  </p>
                  {{ form_start(form) }}
                  {{ form_widget(form) }}
                  {{ form_end(form) }}
                  <p>Total: <span id="precioTotal">{{ event.precioEntrada }}</span>€</p>
              </div>
          </div>
      </div>

    <script>
        document.getElementById('form_cantidad').addEventListener('change', () => {
            let precio = document.getElementById('precioEntrada').textContent;
            let cantidad = document.getElementById('form_cantidad').value;

            if (cantidad < 1) {
                document.getElementById('form_cantidad').value = 1;
                cantidad = 1;
            }

            cantidad = cantidad > 0 ? cantidad: 1;
            document.getElementById('precioTotal').innerHTML = precio * cantidad;
        });
    </script>
{% endblock %}