{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inicio
{% endblock %}

{% block content %}
      <h3>Mi recaudación</h3>
          {% if events %}
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th scope="col">Evento</th>
                      <th scope="col">Entradas vendidas</th>
                      <th scope="col">Total recaudado</th>
                      <th scope="col">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
          {% for event in events %}
              <tr>
                  <th scope="row">{{ event[0].evento.titulo }}</th>
                  <td>{{ event['cant'] }}</td>
                  <td>{{ event['cant'] * event[0].evento.precioEntrada }}€</td>
                  <td>
                      <div class="badge badge-secondary"><a class="text-white" href="{{ path('showEventDetails', {'id': event[0].evento.id}) }}"><i class="fa fa-search-plus"></i></a></div>
                      <div class="badge badge-secondary"><a class="text-white" href="{{ path('editEvent', {'id': event[0].evento.id}) }}"><i class="fa fa-edit"></i></a></div>
                      <div class="badge badge-secondary" data-toggle="modal" data-target="#exampleModal" onclick="dataModal({{ event[0].evento.id }})"><i class="fa fa-trash"></i></div>
                  </td>
              </tr>
          {% endfor %}
                  </tbody>
              </table>
          {% else %}
          <div class="alert alert-info">No hay recaudación</div>
          {% endif %}

    <h3 class="mt-5">Todos mis eventos</h3>
    {% if allEvents %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Evento</th>
                <th scope="col">Fecha</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for event in allEvents %}
                <tr>
                    <th scope="row">{{ event.titulo }}</th>
                    <td>{{ event.fechaHoraEvento.format('d-m-Y') }}</td>
                    <td>{{ event.precioEntrada }}€</td>
                    <td>
                        <div class="badge badge-secondary"><a class="text-white" href="{{ path('showEventDetails', {'id': event.id}) }}"><i class="fa fa-search-plus"></i></a></div>
                        <div class="badge badge-secondary"><a class="text-white" href="{{ path('editEvent', {'id': event.id}) }}"><i class="fa fa-edit"></i></a></div>
                        <div class="badge badge-secondary" data-toggle="modal" data-target="#exampleModal" onclick="dataModal({{ event.id }})"><i class="fa fa-trash"></i></div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">No tienes eventos</div>
    {% endif %}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">
                    <p>
                        ¿Seguro que quiere eliminar el evento?
                    </p>
                    <input type="hidden" class="form-control" id="recipient-name">
                </div>
                <div class="modal-footer" id="modalButtons">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="deleteMessage()">Borrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/app.js">
    </script>

{% endblock %}