{% extends "base.html.twig" %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">InstantTickets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_page_index') }}">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("showAllEvents") }}">Eventos</a>
        </li>



          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Eventos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                  <a class="dropdown-item" href="{{ path("showAllEvents") }}">Ver todos</a>
                  <div class="dropdown-divider"></div>

                  {% for category in auxMethods.getCategorias %}
                      <a class="dropdown-item" href="{{ path("showEventsCategory", {'id': category.id}) }}">{{ category.categoria }}</a>
                  {% endfor %}

              </div>
          </li>




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Area personal
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if is_granted(['ROLE_GESTOR']) %}
              <a class="dropdown-item" href="{{ path("showFormNewEvent") }}">Nuevo evento</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path("showMyEvents") }}">Mis eventos</a>
            {% endif %}

            {% if is_granted(['ROLE_ADMIN']) %}
              <a class="dropdown-item" href="{{ path("editAllUsers") }}">Gestionar usuarios</a>
            {% endif %}

            {% if is_granted(['ROLE_USER']) %}
              <a class="dropdown-item" href="{{ path("showMyTickets") }}">Mis entradas</a>
              <a class="dropdown-item" href="{{ path("showMyMessages") }}">Mis mensajes</a>
              <a class="dropdown-item" href="{{ path("myProfile") }}">Mi perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path("logout") }}">Logout</a>
            {% else %}
              <a class="dropdown-item" href="{{ path("login") }}">Login</a>
            {% endif %}
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="POST" action="{{ path('showEventsFilter') }}">
          <select class="form-control" name="ciudad" id="ciudad">
              <option value="0">Seleccione ciudad:</option>
            {% for ciudad in auxMethods.getCiudades %}
              <option value="{{ ciudad.ciudad }}">{{ ciudad.ciudad }}</option>
            {% endfor %}
          </select>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


  <main class="container mt-5">
      {% block content %}
      {% endblock %}
  </main>
  <footer>
    <p class="text-center">Copyright &copy; DWES 2017 - 2018</p>
  </footer>
{% endblock %}