{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Login
{% endblock %}

{% block content %}
    {% if error %}
      <div class="alert alert-danger" role="alert">
          {{ error.message }}
      </div>
    {% endif %}

  <form action ="{{ path('login') }}" method ="post">
      <div class="form-group">
        <label for="username"> Usuario:</label>
        <input class="form-control" type ="text" id ="username" name ="_username" value ="{{ last_username }}" />
      </div>
      <div class="form-group">
        <label for="password"> Password :</label>
        <input class="form-control" type ="password" id ="password" name ="_password" />
      </div>
      <a class="btn btn-secondary" href="{{ path('createUser') }}">Registrar</a>
    <button class="btn btn-primary" type ="submit"> login </button>
  </form>
{% endblock %}
