{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inicio
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
