{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inicio
{% endblock %}

{% block content %}
      <h3>Mensajes</h3>

          {% if messages %}
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th scope="col">De</th>
                      <th scope="col">Mensaje</th>
                      <th scope="col">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
          {% for message in messages %}
              <tr>
                  <th scope="row">{{ message.remitente.nombre }}</th>
                  <td>{{ message.mensaje }}</td>
                  <td>
                      <div class="badge badge-secondary"><a class="text-white" href="{{ path('newMessageTo', {'id': message.remitente.id}) }}"><i class="fa fa-share"></i></a></div>
                      <div class="badge badge-secondary" data-toggle="modal" data-target="#exampleModal" onclick="dataModal({{ message.id }})"><i class="fa fa-trash"></i></div>
                  </td>
              </tr>
          {% endfor %}
                  </tbody>
              </table>
          {% else %}
          <div class="alert alert-info">No hay mensajes</div>
          {% endif %}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">
                    <p>
                        ¿Seguro que quiere eliminar el mensaje?
                    </p>
                    <input type="hidden" class="form-control" id="recipient-name">
                </div>
                <div class="modal-footer" id="modalButtons">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="deleteMessage()">Borrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/app.js">
    </script>

{% endblock %}