{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inicio
{% endblock %}

{% block content %}
    <div>Nombre: {{ user.nombre }}</div>
    <div>Email: {{ user.email }}</div>
    <div>Avatar: </div>
    <div><img src="/img/users/{{ user.avatar }}" alt="" style="max-width: 200px;"></div>
    <a class="btn btn-primary" href="{{ path('editMyAvatar') }}">Cambiar avatar</a>
    <a class="btn btn-primary" href="{{ path('editMyPassword') }}">Cambiar contraseña</a>
{% endblock %}
