{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inicio
{% endblock %}

{% block content %}
      <h3>Entradas</h3>

          {% if tickets %}
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th scope="col">Evento</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Entradas</th>
                      <th scope="col">Precio/Entrada</th>
                      <th scope="col">Precio total</th>
                  </tr>
                  </thead>
                  <tbody>
          {% for ticket in tickets %}
              <tr>
                  <th scope="row"><a href="{{ path('showEventDetails', {'id': ticket.evento.id}) }}">{{ ticket.evento.titulo }}</a></th>
                  <td>{{ ticket.evento.fechaHoraEvento.format('d-m-Y') }}</td>
                  <td>{{ ticket.cantidad }}</td>
                  <td>{{ ticket.evento.precioEntrada }}€</td>
                  <td>{{ ticket.cantidad * ticket.evento.precioEntrada }}€</td>
              </tr>
          {% endfor %}
                  </tbody>
              </table>
          {% else %}
          <div class="alert alert-info">No hay entradas</div>
          {% endif %}
{% endblock %}